@model SandboxCore11.Features.PurchaseOrders.CreateViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["Header"] = "Create";
    ViewData["SubHeader"] = "New purchase order";
}

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Suppliers" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select name="SupplierId" class="form-control" asp-items="Model.Suppliers"></select>
            </div>
        </div>
        
        <div class="form-group">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th>Item</th>
                    <th>Unit price</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                </tr>
                </thead>
                <tbody id="itemsTableBody" data-item-count="0">

                </tbody>
            </table>
            <input id="addButton" type="button" value="Add item" class="btn btn-default" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<template id="itemTemplate" class="display-none">
    <tr>
        <td><select name="InventoryItemId" class="form-control item-id" asp-items="Model.InventoryItems"></select></td>
        <td><input class="item-unit-price readonly" type="text" value="" readonly /></td>
        <td><input class="item-quantity" type="text" value="5" /></td>
        <td class="item-total-price"></td>
    </tr>
</template>

<div id="productSearch">
    Product Search
    <input name="searchTerm" type="text" placeholder="Enter full or partial search string"/>
    <input id="productSearchButton" type="button" value="Search" class="btn btn-default" />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="productSearchTableBody"></tbody>
    </table>
</div>

<template id="searchResultTemplate" class="display-none">
    <tr>
        <td><input class="readonly" type="text" value="" readonly /></td>
        <td></td>
    </tr>
</template>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Features/PurchaseOrders/purchaseorder-create.js"></script>
}
