@model SandboxCore11.Features.PurchaseOrders.CreateViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["Header"] = "Create";
    ViewData["SubHeader"] = "New purchase order";
}

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Suppliers" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select name="SupplierId" class="form-control" asp-items="Model.Suppliers"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
