@{
    ViewData["Title"] = "Home Page";
    ViewData["Header"] = "SandboxCore11 Inventory Management";
    ViewData["SubHeader"] = "Welcome";
}

<div class="row">
    <div class="col-md-8">
        @await Component.InvokeAsync("PendingOrdersWidget")
    </div>
    <div class="col-md-4">
        @await Component.InvokeAsync("StockWarningsWidget")
        @await Component.InvokeAsync("LatestProductsWidget")
    </div>
</div>
