body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar, footer {
    background-color: #5cb85c;
}

.navbar-collapse {
    max-height: none;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-right {
    padding-right: 30px;
}

.nav > li > span {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    background: none;
}

.widget .table tr td, .widget .table tr th {
    text-align: center !important;
}

body .list-view thead > tr > th {
    text-align: left;
}

.panel .btn-primary {
    color: white !important;
}

.thread-item {
    margin: 25px 0;
}

ul {
    padding-left: 10px;
}

html body {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.navbar-brand:hover {
    color: white !important;
}

.panel-yellow a, .panel-red a {
    color: #428bca !important;
}

.progress {
    margin: 10px 0;
}

.panel-heading {
    padding: 5px 10px;
}

#full-page-form {
    margin-bottom: 50px;
}
