@model SandboxCore11.Models.InventoryItemsViewModels.CreateViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["Header"] = "Create";
    ViewData["SubHeader"] = "New inventory item";
}

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BrandId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="BrandId" asp-items="@Model.BrandSelectItems" class="form-control" >
                    <option value="">Please select a brand</option>
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CategoryId" asp-items="@Model.CategorySelectItems" class="form-control">
                    <option value="">Please select a category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReorderLevel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReorderLevel" class="form-control" />
                <span asp-validation-for="ReorderLevel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReorderQuantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReorderQuantity" class="form-control" />
                <span asp-validation-for="ReorderQuantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
