<div class="panel panel-danger widget">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-comments fa-3x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <h3>Stock warnings</h3>
            </div>
        </div>
    </div>
    <div class="widget-display">
        <table class="table table-fluid table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Stock level</th>
                    <th>Reorder level</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Life Size Cutouts</td>
                    <td>6</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Glow in the Dark Pens</td>
                    <td>6</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Flags</td>
                    <td>6</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Banners</td>
                    <td>6</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>